.completed{
    background-color: green;
}
.container {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
    /* grid-template-rows: 20vh 20vh 20vh 20vh 20vh;    */
}
.newTask{
    grid-column-start: 3;
    grid-column-end: 3;
}